<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="TimetableDb" providerName="System.Data.SqlClient" connectionString="Server=.;Database=TimetableDB;Trusted_Connection=true;"/>-->
       <add name="TimetableDb" connectionString="data source=667dc6da-0338-4308-a867-a24b00a60836.sqlserver.sequelizer.com;initial catalog=db667dc6da03384308a867a24b00a60836;User ID=wvzrwqidnqphbepb;Password=q6GL5jpaVWw7cTBpBEM6UgxeMBxchvWamWyRqTjRH42epufUkwXFEMpjGC7BTnZz;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>